.profile_main{
    .header_profile{
        text-align: center;
        //box-shadow: 5px 15px 15px #687EFF;
        h1{
            font-size: x-large;
            font-weight: 500;
        }
    }
}