#signin{
    .container{
        display: flex;
        flex-direction: column;
        .login_btns .PrimaryBtn{
            width: 100%;
        }
        .bottom_block{
            h1{
                font-weight: 700;
                font-size: 32px;
                line-height: 52px;
            }
            .buttons{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;

            }
        }
        .row{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .col{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}