.avatar{
        text-align: center;
        height: 180px;
        width: 180px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
}